@import "../../styles/globals.scss";

.login {
  &__title {
    padding: 0.6rem 2rem;
    transform: rotate(-1deg);
    position: absolute;
    top: -3rem;
    box-shadow: $black-shadow;
    background-color: rgba(255, 255, 255, 1);
  }
  &__container {
    position: relative;
    margin: 0 auto;
    background-color: rgba(12, 12, 12, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    min-height: 22rem;
    min-width: 19rem;
    height: 50vh;
    border-radius: 4px;
    box-shadow: $white-shadow;
    > h1 {
      margin-bottom: 1rem;
      color: tomato;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    > span {
      margin-top: 0.2rem;
      color: $primary;
      font-size: 14px;
      cursor: pointer;
    }
  }
  &__form {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      > label {
        color: $primary;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
      }
      > input {
        border: 1px solid $primary;
        border-radius: 5px;
        margin-bottom: 1rem;
        height: 1.5rem;
        text-align: center;
        padding: 0.2rem;
        outline: none;
      }
    }
  }
}
