@import "./globals.scss";

.ButtonForm {
  cursor: pointer;
  background: $secondary;
  border: none;
  height: 2rem;
  border-radius: $radius-light;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3px;
  &:hover {
    border: 1px solid $primary;
  }
}
